<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fontdiner+Swanky&family=Mochiy+Pop+P+One&family=Over+the+Rainbow&family=Rock+Salt&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fontdiner+Swanky&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mochiy+Pop+P+One&family=Over+the+Rainbow&family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Bloggerr.</h1>
    
    <form method="post" action="/posts">
        <input type="text" placeholder="enter a username" name="username" class="imagetext"/> <br> <br>

        <textarea   placeholder="Write your post" name="content" class="textarea"></textarea> <br>
        <input type="text" name="img" placeholder="Enter image address" class="imagetext"> <br>
        <br>
        <button class="delete">Submit Post</button>
    </form>
</body>
</html>