<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Post</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fontdiner+Swanky&family=Mochiy+Pop+P+One&family=Over+the+Rainbow&family=Rock+Salt&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Fontdiner+Swanky&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Mochiy+Pop+P+One&family=Over+the+Rainbow&family=Rock+Salt&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Bloggerr.</h1>
    
   <h2>Here is your post</h2> 
   <p>Post id: <%= post.id %></p>
   <div class="post">
    <h3 class="user">@<%= post.username %></h3>
    <h4 class="content"><%= post.content %></h4>
    <img src="<%=post.img%>" alt="Some Image"><br>
   </div>
</body>
</html>